.app-h1 {
  @include font-family(Montserrat);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 45px;
}

.app-h2 {
  @include font-family(Montserrat);
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 39px;
}

.app-h3 {
  @include font-family(Montserrat);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
