h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

h2 {
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}